<h1><%= @project.name %></h1>
<p><%= @project.description %></p>

<ul>
    <li><%= link_to "Edit project", edit_project_path(@project), class: "edit" %></li>
    <li>
        <%= link_to "Delete project",
            admin_project_path(@project),
            method: :delete,
            data: {confirm: "You sure?"},
            class: "delete" %>
    </li>
    <li><%= link_to "New Ticket", new_project_ticket_path(@project), class: "new"  %></li>
</ul>

<ul id="tickets">
    <% @project.tickets.each do |ticket| %>
        <li>#<%= ticket.id %> - <%= link_to ticket.name, [@project, ticket] %> | <%= link_to "Edit Ticket", edit_project_ticket_path(@project, ticket) %></li>
    <% end %>
</ul>
