<h1><%= @project.name %></h1>
<p><%= @project.description %></p>

<ul>
    <li>
        <%= link_to "Edit project", edit_project_path(@project), class: "edit" %>
    </li>
    <li>
        <%= link_to "Delete project",
            project_path(@project),
            method: :delete,
            data: {confirm: "You sure?"},
            class: "delete" %>
</li>
<li> <%= link_to "New Ticket", new_project_ticket_path(@project), class: "new"  %></li>
</ul>
</header>
